<h1>Welcome to our Rock, Paper, Scissors game!</h1>
<p>Before the game begins we would like to go over the rules.</p>
<h2>Game Rules!</h2>
<p>Player1 and Player2 upon a signal must make one of three hand signals:</p>
<ul>
  <li>rock - a closed fist.</li>
  <li>paper - a flat open hand.</li>
  <li>scissors - extend the index and middle fingers whilst making a partial fist.</li>
</ul>